body {
    margin: 0;
    padding: 0;

}

.container {
    width: 1170px;
    margin: 0 auto; 
    /*позиционирование по тексту */
}

/* .header { */
/* } */

.header {
    padding-top: 20px;
    /* Rectangle 2 */

    position: absolute;
    width: 1920px;
    height: 84px;
    left: 0px;
    top: 1px;

    background: #fff9f9;
    mix-blend-mode: screen;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

img {
    width: 45px;
    height: 45pxss;
}

.logo {
    margin-right: 200px;
}

ul, li {
    display: block;
}

header a {
    color: black;
}

.menu {
    text-align: center;
    display: flex;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
    padding-left: 600px;
}

.menu li {
    padding-right: 40px;
}

.menu a {
    text-decoration: none;
    
}

/* .nav { */
    /* margin: 100px 0;
    background-color:rgb(233, 133, 172); */
/* } */

/* .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.nav ul li {
    margin: 0p
} */

.offer {
    text-align: left;
    margin-top: 300px;
    float: left;
    width: 600px;
    height: 340px;
}
.offer h1{
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}
#first  {
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
#second {
    font-family: 'Cormorant Garamond', serif;
}

.offer {
    font-size: 20px;
}

.flowers {
    width: 524px;
    height: 788px;
    float: right;
}

.btn {
    color: snow;
    font-size: 16px;
    background: linear-gradient(to left, #76b852, #45B649, #76b852);
    text-decoration: none;
    width: 190px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    border-radius: 30px;
    background-size: 200%;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 15px #76b852;
    background-position: right;
}

.form1 {
    /* Ellipse 1 */
    position: absolute;
    width: 356.29px;
    height: 277.34px;
    left: 80px;
    top: 101.6px;

    background: linear-gradient(141.62deg, #FFACAC 19.98%, rgba(255, 217, 217, 0) 85.16%);
    filter: blur(72px);
    transform: rotate(-26.97deg);

}

.form2 {
    /* Ellipse 2 */
    position: absolute;
    width: 572px;
    height: 506.5px;
    left: 1270px;
    top: 63px;

    background: linear-gradient(226.59deg, #2F51C9 13%, rgba(238, 71, 111, 0.53) 71.4%);
    filter: blur(80px);

}
